*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'calibri';
    
}

.navbar{
    background-color: #131921;
    border: 1px solid #000;
    padding: 2px 16px;
    display: flex;
    align-items: center;
    color: #fff;
    text-align: center;
}
.amazon-logo{
    height: 36px;
    width: 98px;
    background-image: url(https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-2x-reorg-privacy._CB600086755_.png);
    background-size: 350px;
    background-position: -10px -45px;
}
.logo-container{
    display: flex;
}
.search-container{
    background-color: #fff;
    width: calc(100vw - 897px);
}
.location-container{
    width: 150px;
}
.language-container, .user-container, .orders-container, .cart-container{
    width: 150px;
} 

.nav-categories {
    display: flex;
    background-color: #222F3E;
    color: #fff;
    padding: 2px 16px;
}

.nav-categories > a {
    height: 28px;
    padding: 4px 9px 0;
    border: 1px solid #222F3E;
    border-radius: 4px;
}

.nav-categories > a:hover {
    border: 1px solid #fff;
    cursor: pointer;
}
.in{
    font-size: 25px;

      
}
.carousal-container{
    display: flex;
    overflow-x: scroll;
    height: auto;
    overflow-y: visible;
  
    margin-left: auto;
    margin-right: auto;
   
}
.carousal-container::-webkit-scrollbar{
    color: transparent;
}
/* Add fading effect to images */
.carousal-container img {
    width: 100% ;
    height: 600px;
   
}




.grid-layout{
    margin-top: 20px;
    display: grid;

    position: absolute;
    top: 320px;
    grid-template-rows: 400px;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    padding: 10px;
    
    .grid-card{
         background-color: #FFFFFF;
        padding: 10px;
        .card-internal-grid{
            display: grid;
            grid-template-rows: repeat(2,102px);
            grid-template-columns: 1fr 1fr;
            row-gap: 60px;
            column-gap: 15px;
            text-align: center;
            .img{
                height: auto;
                width: 100%;
            }
        }
    }
}
.grid-title{
    font-weight: 800;
    font-size: 20px;
    padding: 7px;
}

.deal-outer-grid{
    margin-top: 100px;
    h2{
        margin-left: 30px;
    }
    background-color: #E3E6E6;
}
.deal-grid{
    width: 100%;
    margin-top: 10px;
    height: 300px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 250px;
    place-items: center;
    column-gap: 10px;
    .deal-item{
        width: 200px;
        background-color: #FFFFFF;
       img{
          width: 100%;
       }
       .details{
          display: flex;
          justify-content: space-between;
          padding: 0px 5px 0px 5px;
          h3{
            background-color: red;
            color: white;
          
          }
       }
    }

}

.--Home-furnishing{
    h3{
        margin-left: 20px;
        font-size: 22px;
    }
    .home-furnishing{
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
        padding: 10px;
       
       
    }
}