.header{
    height: 60px;
    display: flex;
    align-items: center;
  
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
 
    .search-button{
        width: 50px;
        background-color: #cd9042;
        margin-bottom: 2px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.header-logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header-search{
    display: flex;
    flex: 1;
    align-items: center;
  
   border-radius: 10px;
      
}
.header-search:hover{
    border: 2px solid orange;
}

.header-searchInput{
    height: 40px;
    width: 100%;
    border: none;
    margin-bottom: 2px;
    outline: none;
    padding:10px;
    
    font-size: 18px;

}

.header-SearchIcon{
    padding: 5px;
    width: 30px !important;
    background-color: #cd9042;
    height: 30px !important;
    
}
.header-option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.header-nav{
    display: flex;
    justify-content: space-evenly;
    
    margin-right: 14px;
}
.header-optionOne{
    font-size: 15px;
}
.header-optionTwo{
   font-size: 17px;
   font-weight: 800;
}
.header-option-3{
    display: flex;
    
}
.header-option-shoppingIcon{
    height: 30px !important;
    width: 30px !important;
    display: flex !important;
}

.all-btn{
    background-color: rgb(228, 205, 205);
    width: 50px;
    margin-bottom: 2px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 
}
button{
    outline: none;
    border: none;
   
}