*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'calibri';
      
}

body{
    background-color: #E3E6E6;
}


.nav-categories {
    display: flex;
    background-color: #222F3E;
    color: #fff;
    padding: 2px 16px;
}

.nav-categories > a {
    height: 28px;
    padding: 4px 9px 0;
    border: 1px solid #222F3E;
    border-radius: 4px;
}

.nav-categories > a:hover {
    border: 1px solid #fff;
    cursor: pointer;
}
.in{
    font-size: 25px;

      
}
.carousal-container{
    display: flex;
    overflow-x: scroll;
    height: auto;
    overflow-y: visible;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
   
}
.carousal-container::-webkit-scrollbar{
    color: transparent;
}
/* Add fading effect to images */
.carousal-container img {
    width: 100% ;
    height: 600px;
   
}


Swiper{
    z-index: -1;
   
}

.grid-layout{
    margin-top: 20px;
    display: grid;
    
    z-index: 100;
   
    position: absolute;
    top: 340px;
    grid-template-rows: 400px;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
    padding: 10px;
    
    .grid-card{
         background-color: #FFFFFF;
        padding: 10px;
        .card-internal-grid{
            display: grid;
            grid-template-rows: repeat(2,102px);
            grid-template-columns: 1fr 1fr;
            row-gap: 60px;
            column-gap: 15px;
            text-align: center;
            .img{
                height: auto;
                width: 100%;
            }
        }
    }
}
.grid-title{
    font-weight: 800;
    font-size: 20px;
    padding: 7px;
}

.deal-outer-grid{
    margin-top: 100px;
    h2{
        margin-left: 30px;
    }
    background-color: #FFFFFF;
}
.deal-grid{
    width: 100%;
    margin-top: 10px;
    height: 300px;
    padding: 10px;
   
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 250px;
    place-items: center;
    column-gap: 10px;
    .deal-item{
        width: 200px;
        background-color:#F7F8F8;
        padding: 15px;
       img{
          width: 100%;
       }
       .details{
          display: flex;
          justify-content: space-between;
          padding: 0px 5px 0px 5px;
          h3{
            background-color: white;
            font-size: 14px;
            background-color: red;
            color: white;
          
          }
       }
    }

}

.--Home-furnishing{
    h3{
        margin-left: 20px;
        font-size: 22px;
    }
    .home-furnishing{
        display: flex;
        gap: 10px;
        justify-content: space-evenly;
        padding: 10px;
       
    }
}

.sign-box{
  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
   
    row-gap: 10px;
    .sign-container-internal{

        display: flex;
        flex-direction: column;
        
        h3{
            font-size: 22px;
        }
        padding: 15px;
       grid-row-start: 1;
       grid-row-end: 2;
       background-color:#FFFFFF;
    
       .sign-box-button{
        margin-top: 7px;
         background-color: #FFD814;
         width: 90%;
         border-radius: 10px;
         align-self: center;
         height: 25px;
       }
    }
    .second-container{
        grid-row-start: 2;
        grid-row-end: 4;
        background-color:#FFFFFF;
    }
}


.second-grid-layout {
    margin-top: 20px;
    display: grid;
    z-index: 100;
    background-color: #E3E6E6;
    top: 340px;
    grid-template-rows: 400px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    padding: 10px;
  
    .second-grid-card {
        background-color: #FFFFFF;
        padding: 10px;

        .second-internal-grid {
            display: grid;
            grid-template-rows: repeat(2, 102px);
            grid-template-columns: 1fr 1fr;
            row-gap: 60px;
            column-gap: 15px;
            text-align: center;

            .img {
                height: auto;
                width: 100%;
            }
        }
    }
}

.header-option-shoppingIcon{
    text-decoration: none;
    color: white;
}