.main-signin-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
   
    justify-content: center;
    align-items: center;
    background-color:#E3E6E6;
   
   
    
}
.logo-container{
    width:40% ;
  
    img{
        width: 100%;
        height: 100%;
    }
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 60%;
    background-color: #FFFFFF;
    font-size:17px;
    
    font-weight: 700;
    color: black;
    padding: 2px 16px;
    border: 2px solid gray;
}
.login-form-firstbox{
    width: 100%;
    margin-bottom: 10px;
    input{
        width: 100%;
        height: 40px;
        border: 1px solid #222F3E;
        border-radius: 4px;
        padding: 4px 9px 0;
    }
}
.login-form-secondbox{
    width: 100%;
    margin-bottom: 10px;
    input{
        width: 100%;
        height: 40px;
        border: 1px solid #222F3E;
        border-radius: 4px;
        padding: 4px 9px 0;
    }
}
.login-button{
    width: 100%;
    background-color: #F5D27D;
    border-radius: 2px;
    border: 2px solid  #c78d07;
    margin-bottom: 10px;
}
.new-customer-button{
    width: 100%;
    background-color: #EFF1F3;
    border: 2px solid gray;
    border-radius: 2px;
}

